
.popup__input_type_error{
    border-block-color: red;
} 

.popup__error_visible {
    color: red;
}

.popup__button_disabled {
    pointer-events: none;
    cursor: default;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #d5cdcd;
    color: #d5cdcd;
}

     








